*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
header::before{
    background: url('https://4.bp.blogspot.com/-NusT8_BxXvU/WigtjvJvKLI/AAAAAAABOyg/VP7N3f2xgkAOOU2LPKaVCBdTsMiDJp_EgCK4BGAYYCw/s1600/Web-design.jpg')no-repeat center center/cover;
   background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    
}



/* navbar section */
.logo{
    color: rgb(250, 250, 250);
    font-size: 1.2rem;
    padding-left: 40px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}
nav {
    
    /* display: flex; */

}

.navbar{
padding: 10px 30px;
font-size: 1.2rem;
display: flex;
margin-right: 100px;
gap: 25px;
}


.navbar  li{
    list-style: none;
    }

.navbar  a{
    text-decoration: none;
    margin: 20px;
    color: rgb(246, 240, 240);
    font-size: 20px;
    font-family: "Abril Fatface", serif;
    }



/* body section */
    .leftSection{
        border: 2px solid transparent;
        width: 350px;
        margin: 100px;
        text-align: left;
        
    }
    .leftSection span{
font-size: 4rem;
}
.leftSection p{
    font-size: 20px;
}

.leftSection button{
    background-color: lightgreen;
    border-radius: 15px;
    border: none;
    height: 30px;
    width:  100px;
    margin: 10px;
}
.circles{
display: flex;

}
#circles1{
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #72bf6a;
    margin: 10px;
    
}
#circles2{
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #8bca84;
    margin: 10px;
    
}
#circles3{
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #acd8a7;
    margin: 10px;
    
}
#circles4{
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #cce7c9;
    margin: 10px;
    
}

